* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.app-link {
  color: #09d3ac;
}

.app body{
  height: 100%;
}

.body-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #F5F5F5;

}