.nav-bar-wrapper{
    width:100%;
    top:0;
}

.top-right-icons-container{
    display: flex;
    flex-direction: row;
    width: 222px;
    font-size: 24px;
    padding: 0;
    margin-right: -13px;

}

.top-right-icons-container svg{
    margin: 0 13px;
    padding: 0;
}

.menu-icon-container {
    font-size: 24px;
}